/* RESET */
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none
}

/* /////////////////////////////////////// */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url(../../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(109, 70, 155);
  color: white;
  margin: 30px 50px 0px 50px;
  width: 100vh;
}

header {
  padding-bottom: 50px;
}

main {
  display: flex;

}

.container {
  width: 100vh;
}
.container-img img{
  max-width: 100%;
}

.container .title-h1 {
  line-height: 50px;
}

.container .information {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 25px;
  text-align: justify;
}

.btn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  box-shadow: 0px 3px 10px rgb(20, 20, 20);
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(206, 112, 184);
  color: white;
}

/* /////////////////////////////////////// */
/* Footer  */
footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 2px;
}

.attribution p{
  position: relative;
  font-size: 13px;
}

.attribution a {
  color: hsl(0, 0%, 100%);
}
/* ícones redes sociais */
.redes-sociais{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
}
.bi{
  padding: 5px;
  color: aliceblue;
  font-size: 25px;
}
.bi:hover {
  color: rgb(206, 112, 184);
}