header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  flex-wrap: wrap;
  /* max-width: 100%; */
  /* background-color:cadetblue; */

}
.logo{
  display: flex;
  align-items: center;
  /* background-color: red; */
}
.logo img{
  width: 48px;
}
.logo span{
  text-transform: lowercase;
  font-weight:800;
  transition: 0.3s;
}
.logo span:hover{
  color: #5BC241;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;

}
nav ul{
  display: flex;
}
nav ul li {
  margin: 0;
}
.cadastre-se{
  padding: 10px;
  background-color: #5BC241;
  border-radius: 10px;
  border: none;
}