/*
 = = = Considerações
Nos desafios anteriores eu gastei horas e mais horas e consegui a solução, ou algo similar a uma solução, mas essa parte do desafio, eu não consegui entender; 
Eis o motivo de estar incompleto.
*/



*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  width: 100%; 
  font-size: 55%;
}
main {
  background-color: #8ba788;
  display: grid;
  grid-template-areas: "video-principal propaganda"
                       "video-principal videos-miniatura";
  gap: 20px;
  padding: 30px;
}
.video-principal{
  grid-area: video-principal;
  display: block;
  width: 326px;
}
.propaganda{
  grid-area: propaganda;
}
.videos-miniatura{
  grid-area: videos-miniatura;
}
.descricao-video-miniatura {
  display: flex;
  justify-content: center;
  width: 100%;
}
